@keyframes fadeUpAnim {
    0%{
        opacity: 0;
        transform: translateY(20vh);
    }100%{
        opacity: 1;
        transform: translateY(0vh);
    }
}

.forAnim{
    animation: fadeUpAnim;
    animation-duration: 0.6s;
}